* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body {
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

header {
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

#headerName {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

.section-name {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 3vw;
  line-height: 1;
}

.section-name:hover {
  text-align: center;
  animation: shake-myname 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 5px 5px 8px var(--black);
}


@keyframes shake-myname {

  0% {
    transform: scale(1.15) translate(1px, 2px) rotate(0deg);
    color: var(--blue1);
  }

  10% {
    transform: scale(1.15) translate(-1px, -1px) rotate(-1deg);
    color: var(--blue1);
  }

  20% {
    transform: scale(1.15) translate(-3px, 0px) rotate(1deg);
    color: var(--blue2);
  }

  30% {
    transform: scale(1.15) translate(3px, 1px) rotate(0deg);
    color: var(--blue2);
  }

  40% {
    transform: scale(1.15) translate(1px, -2px) rotate(1deg);
    color: var(--blue3);
  }

  50% {
    transform: scale(1.15) translate(-1px, 1px) rotate(-1deg);
    color: var(--blue3);
  }

  60% {
    transform: scale(1.15) translate(-3px, -2px) rotate(0deg);
    color: var(--blue4);
  }

  70% {
    transform: scale(1.15) translate(3px, 1px) rotate(-1deg);
    color: var(--blue4);
  }

  80% {
    transform: scale(1.15) translate(-1px, -0px) rotate(1deg);
    color: var(--blue5);
  }

  90% {
    transform: scale(1.15) translate(1px, -1px) rotate(0deg);
    color: var(--blue5);
  }

  100% {
    transform: scale(1.15) translate(1px, 2px) rotate(-1deg);
    color: var(--blue5);
  }
}


.nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

.hero-banner {
  background: rgb(68, 88, 120);
  background-image: url('../images/Victoria\ Peak.jpg'), linear-gradient(180deg, var(--secondary) 20%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 35vh;
  color: var(--light);
  padding: 8% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.card:hover {
  border: 5px solid rgba(230, 177, 32, 0.546);
}

#contact a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}


#contact a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}